.Laptop{
    max-width: 100%;
    display: none;
}

.ImageDiv{
    display: none;
}

@media (min-width: 780px) {
    .ImageDiv{
        display: block;
        width: 70%;
        height: 70%;
        float: right;
    }
}
