.avatar{
    display: none;
}

@keyframes floatUp {
	0% {
		transform: translate3d(0, 0, 0);
	}
	50% {
		transform: translate3d(0, 10px, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes floatUp2 {
	0% {
		transform: translate3d(0, 0, 0);
	}
	40% {
		transform: translate3d(0, 3px, 0);
	}
    80% {
		transform: translate3d(0, -3px, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes floatDown {
	0% {
		transform: translate3d(0, 0, 0);
	}
	50% {
		transform: translate3d(0, -7px, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}

/* @media (max-width: 780px) {
    .avatar{
        display: block;
        position: absolute;
        animation: floatUp 6s ease-in-out infinite;
        z-index: 90;
        max-width: 6.5rem;
    }

    .avatar:nth-of-type(2){
        animation: floatDown 5s ease-in-out infinite;
    }

    .avatar:nth-of-type(2){
        animation: floatUp2 5s ease-in-out infinite;
    }

    .topLeft{
        top:16%;
        left:70%;
    }
    .topRight {
        top:16%;
        left:10%;
    }
    .bottomRight {
        top: 16%;
        left:40%;
    }
    .bottomRightLow{
        top:16%
    }
    .vikarJob {
        background-color: #6cb0e1;
        padding: 5px;
        border-radius: 10rem;
        color: white;
    }
    .avatar:nth-of-type(2) .vikarJob{
        background-color: #ffc4ab;
    }
    .avatar:nth-of-type(3) .vikarJob{
        background-color: #255c92;
    }
} */

@media (min-width:1700px) {
    .avatar{
        display: block;
        position: absolute;
        animation: floatUp 6s ease-in-out infinite;
        z-index: 90;
        max-width: 6.5rem;
    }

    .avatar:nth-of-type(2){
        animation: floatDown 5s ease-in-out infinite;
    }

    .avatar:nth-of-type(2){
        animation: floatUp2 5s ease-in-out infinite;
    }

    .topLeft{
        top:5%;
        left:49%;
    }
    .topRight {
        top:3%;
        left:79%;
    }
    .bottomRight {
        top: 12%;
        left:82%;
    }
    .bottomRightLow{
        top:15%
    }
    .bottomRightHigh{
        top:9%
    }
    .vikarJob {
        background-color: #6cb0e1;
        padding: 5px;
        border-radius: 10rem;
        color: white;
    }
    .avatar:nth-of-type(2) .vikarJob{
        background-color: #ffc4ab;
    }
    .avatar:nth-of-type(3) .vikarJob{
        background-color: #255c92;
    }
}