.ApplicationContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.ApplicationPhoto {
    width: 90%;
    margin-top: 1rem;
}
.ApplicationPhoto img{
    width: 90%;
}

@media (min-width: 770px) {
    .ApplicationContainer{
        flex-direction: row;
    }
    .ApplicationPhoto {
        width: 15%;
    }
    .ApplicationPhoto img{
        width: 80%;
    }
}
