.SideDrawer {
    position: fixed;
    width: 280px;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: white;
    padding: 32px 0px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}
.Footer{
    position:fixed;
    bottom:0%;
    padding: 32px 0px;
    width:100%;
    background-color:#f6f6f6
}

@media (min-width: 750px) {
    .SideDrawer {
        width: 450px;
    }
}

@media (min-width: 811px) {
    .SideDrawer {
        display: none;
    }
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

.Logo {
    height: 11%;
    margin-bottom: 32px;
}