.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: left;
}

.Input input, .Input textarea {
  background-color: #E7F1F7;
}

.Input input::placeholder, .Input textarea::placeholder {
  font-size: 1rem;
}


.InputElement {
  outline: none;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #E7F1F7;;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.InputElement__errorMessage {
  color: red;
  display: block;
}

.InputElement:is(input) {
  height: 2.5rem;
}

.InputTextarea {
  resize: none;
}

.noHoney {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}