.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
}

.InputElement {
    outline: none;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.InputElement__errorMessage {
    color: red;
    display: block;
}

.InputElement:is(input){
    height: 2.5rem;
}

.InputTextarea{
    resize: none;
}