.Logo {
    margin-top: 5px;
    padding: 0px;
    max-height: 80%;
    box-sizing: border-box;
    border-radius: 5px;
}

.Logo img {
    height: 50px;
    width: 130px;
}

@media (min-width: 780px) {
    .Logo {
        margin-right: 3rem;
    }
}