html{
  min-height: 100vh;
  position: relative;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-size: 16px;
  width: 100%;
  color: #161637;
}

main{
  margin-bottom: 32rem;
}

.DesktopOnly {
  display: none;
}

:global(.App) {
  min-width: 100%;
}

h2,
p {
  margin-block-start: 0;
  margin-block-end: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.carousel {
  position: relative;
  margin: 0 auto;
  text-align: left;
  height: 27rem;
  box-sizing: border-box;
  margin-bottom: 2rem;
}

.carousel__track-container {
  position: relative;
  height: auto;
  min-height: 100% !important;
  overflow: hidden;
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  transition: transform 400ms ease-in-out;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: 0rem;
  text-align: center;
  width: 100%;
  padding: 4rem 1rem 0rem 1rem;
}

.carousel__slide h2 {
  font-size: 1rem;
  margin: 0 1rem;
  /* font-style: italic; */
}

.carousel__button {
  text-align: left;
  position: absolute;
  /* top 50 raises the TOP of the button to center. 
  Then transform raises the middle of the button, so it's centered */
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border-radius: 50%;
  padding: 9px;
  cursor: pointer;
  border: 1px solid black;
}

.carousel__button:focus {
  outline: black;
}

.carousel__button--left {
  left: -60px;
}

.carousel__button--left img {
  padding-right: 4px;
}

.carousel__button--right {
  right: -60px;
}

.carousel__button--right img {
  padding-left: 4px;
}

.carousel__button img {
  width: 20px;
}

.carousel__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.carousel__indicator {
  border: 0;
  margin: 0 4px;
  cursor: pointer;
  width: 3rem;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
}

.carousel__indicator:focus {
  outline: black;
}

.carousel__indicator.current-slide {
  background: rgba(0, 0, 0, 0.8);
  width: 4rem;
  transition: width 1s cubic-bezier(0.3, 0.86, 0.36, 0.95);
}

.is-hidden {
  display: none;
}

.carousel__slide .credentials {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
}

.carousel__slide > p:first-child {
  text-transform: uppercase;
}

.carousel__slide .credentials p {
  margin-left: 7px;
}

.carousel__slide .credentials__text {
  text-align: left;
}
@media (min-width: 750px) {
  main{
    margin-bottom: 15rem;
  }
  .carousel {
    height: 19rem;
  }
}
@media (min-width: 780px) {
  :global(.App) {
    min-width: 580px;
  }
  .DesktopOnly {
    display: block;
  }
  main{
    margin-bottom: 15.5rem;
  }
  .carousel {
    height: 35vh;
    width: 70%;
  }
  .carousel__slide h2 {
    font-size: 1.8rem;
    margin: 0 2rem;
  }
}

@media (min-width: 780px) {
  .carousel {
    height: 30rem;
  }
}

@media (min-width: 1199px) {
  .carousel {
    height: 25rem;
  }
}

@media (min-width: 1600px) {
  .carousel {
    height: 350px;
    width: 50%;
  }
}

@media (max-width: 780px) {
  .carousel__button {
    display: none;
  }
}
