* {
    box-sizing: border-box;
  }

  .Container {
    background-color: white;
    text-align: center;
    margin: 0 20rem;
    padding: 3rem 1rem;
    max-width: 80%;
}
  
  .circle {
    shape-outside: circle();
    width: 500px;
    height: 450px;
    z-index: 5;
    float: left;
  }

  .floatRight {
      float: right;
  }